//eat da burger
// image of a burger
// yellow background
//input box
//submit <button></button>
//"Enter a burger you would like to eat and hit submit"

<img src="https://i.dailymail.co.uk/i/pix/2013/03/28/article-2300702-18F9462D000005DC-282_306x423.jpg">
<h2>Eat-Da-Burger</h2>
<form>
    <input type="text" name="burger-type">
    <input type="submit" value="Submit">
</form>
<p>Enter a burger you would like to eat and hit "Submit"</p>

