<img src="https://i.dailymail.co.uk/i/pix/2013/03/28/article-2300702-18F9462D000005DC-282_306x423.jpg">
<h2>Eat-Da-Burger</h2>

<div class="container">
  <div class="row">
    <div class="col s6">
      <h2>Burgers to be Eaten</h2>
      {{#each burgers}}
      {{#unless this.devoured}}
      <div>
        {{!-- <form action="api/burgers/{{this.id}}?_method=PUT" method="PUT"> --}}
        <button type="button" data-id={{this.id}} class="burgerAvailable"> {{this.burger_name}}</button>
        {{!-- </form> --}}
      </div>
      {{/unless}}
      {{/each}}
      {{!-- <button type="button" class="random">Test</button> --}}
    </div>

    <div class="col s6">
      <h2>Devoured Burgers</h2>
      {{#each burgers}}
      {{#if this.devoured}}
      <div class="burgerEaten">
        <div>
          <button type="button" class="burgerGone">{{this.burger_name}}</button>
        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<h2>Add a Burger Option</h2>

<div class="row">
  <div class="col s12">
    <form action="api/burgers" method="POST">
    <input type="text" id="name" name="burger_name" placeholder="Delicious Burger">
    <button type="submit" class="addBurgerButton">Add the Burger</button>
    </form>
  </div>
</div>

